In [1]:
import io

import matplotlib.pyplot as plt
from matplotlib import lines as mlines
import pandas as pd
import requests
import numpy as np
from scipy import stats

import ausweather

In [2]:
%matplotlib inline
plt.rcParams["figure.dpi"] = 150

In [3]:
df = ausweather.silo_alldata(23300, 'kent.inverarity@sa.gov.au', start=19700101)

In [6]:
df.head()

,Date,Day,Date2,T.Max,Smx,T.Min,Smn,Rain,Srn,Evap,...,Mlake,Mpot,Mact,Mwet,Span,Ssp,EvSp,Ses,MSLPres,Sp
1,1970-01-01,1,1-01-1970,17.0,25,8.0,25,24.6,0,3.6,...,3.6,3.5,3.5,3.5,4.2,26,3.6,25,1006.0,25
2,1970-01-02,2,2-01-1970,18.5,25,10.5,25,2.5,0,5.4,...,4.4,5.2,3.3,4.3,5.4,26,5.4,25,1011.0,25
3,1970-01-03,3,3-01-1970,17.5,25,10.5,25,0.0,0,3.2,...,2.5,3.6,1.3,2.5,3.6,26,3.2,25,1009.0,25
4,1970-01-04,4,4-01-1970,19.5,25,11.5,25,1.3,0,2.8,...,2.8,3.2,2.4,2.8,3.5,26,2.8,25,1011.5,25
5,1970-01-05,5,5-01-1970,22.5,25,11.0,25,0.0,0,4.4,...,4.5,5.0,3.7,4.3,5.4,26,4.4,25,1015.0,25

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18372 entries, 1 to 18372
Data columns (total 28 columns):
Date       18372 non-null datetime64[ns]
Day        18372 non-null int32
Date2      18372 non-null object
T.Max      18372 non-null float64
Smx        18372 non-null int32
T.Min      18372 non-null float64
Smn        18372 non-null int32
Rain       18372 non-null float64
Srn        18372 non-null int32
Evap       18372 non-null float64
Sev        18372 non-null object
Radn       18372 non-null float64
Ssl        18372 non-null int32
VP         18372 non-null float64
Svp        18372 non-null int32
RHmaxT     18372 non-null float64
RHminT     18372 non-null float64
FAO56      18372 non-null float64
Mlake      18372 non-null float64
Mpot       18372 non-null float64
Mact       18372 non-null float64
Mwet       18372 non-null float64
Span       18372 non-null float64
Ssp        18372 non-null int32
EvSp       18372 non-null float64
Ses        18372 non-null int32
MSLPres    18372 non-null float64
Sp         18372 non-null int32
dtypes: datetime64[ns](1), float64(16), int32(9), object(2)
memory usage: 3.3+ MB

In [10]:
df.groupby(df.Date.dt.year).Rain.sum().head()

Date
1970    472.0
1971    715.2
1972    398.4
1973    711.8
1974    779.9
Name: Rain, dtype: float64